<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - Matheus Ribeiro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/projetos">Projetos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="contact-info">
            <h2>Entre em Contato</h2>
            <p>Estou sempre aberto a novas oportunidades e desafios para otimizar processos na sua indústria. Sinta-se à vontade para me contatar:</p>
            <ul>
                <li><strong>Email:</strong> z1p0l0ck@proton.me</li>
                <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/matheus-ribeiro-bbb894237?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app target="_blank">https://www.linkedin.com/in/matheus-ribeiro-bbb894237?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app</a></li>
                <li><strong>GitHub:</strong> <a href="https://github.com/zuckalez0-oss" target="_blank">github.com/zuckalez0-oss</a></li>
                <li><strong>Telefone/WhatsApp:</strong> (17)996261525</li>
            </ul>
            <p>Vamos conversar sobre como podemos impulsionar a eficiência da sua operação.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Inova Process. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
